/*============================================================================
  #Site Header
==============================================================================*/
.site-header {
  background: $colorHeaderBg;
  color: $colorHeaderText;
  padding:0;

  .grid--table {
    display: table;
    table-layout: fixed;
    width: 100%;

    > .grid__item {
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }

  @media (max-width:$medium){
    padding-top: ($gutter / 2);
  }
}

.site-header__logo {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;

  @include at-query ($min, $large) {
    text-align: left;
  }

  a,
  a:hover,
  a:focus {
    text-decoration: none;
    color:$colorNavText;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: $tracking-l;
    line-height: 1;
  }

  a, img {
    display: block;
  }

  img {
    margin: 0 auto;
  }
}

.site-header__logo-link {
  max-width: 100%; //$logoMaxWidth;
  margin: 0 auto;
}

.site-header__cart-toggle {
  display: inline-block;
  color:$colorNavText;
  #CartCount{
    color:$colorBtnPrimaryActive;
  }
}

.site-header__search {
  display: inline-block;
  max-width: 400px;
  margin-top: $gutter / 2;
  width: 100%;
}

.search-bar {
  max-width: 100%;

  @include at-query ($max, $medium) {
    margin-left: auto;
    margin-right: auto;
  }
}

/*============================================================================
  #Site Nav and Dropdowns
==============================================================================*/
.nav-bar {
  //background-color: $colorNav;
}

.site-nav {
  //font-size: em(16px);
  cursor: default;
  margin: 0 0 0 (-$gutter / 2);

  li {
    margin: 0;
    display: block;
  }

  > li {
    position: relative;
    display: inline-block;
  }
}

/*================ Home to hamburger and cart that toggle drawers ================*/
.site-nav--mobile {
  @extend .site-nav;

  .text-right & {
    margin: 0 (-$gutter / 2) 0 0;
  }

  .icon-cart{
    font-size:69%;
  }
}

.site-nav__link {
  display: block;
  text-decoration: none;
  padding: $gutter / 2;
  white-space: nowrap;
  color: $colorNavText;
  font-weight:900;
  text-transform: uppercase;
  letter-spacing:$tracking-l;

  &:hover,
  &:active,
  &:focus {
    //color: darken($colorNavText, 15%);
  }

  .icon-arrow-down {
    position: relative;
    top: -2px;
    font-size: 10px;
    padding-left: $gutter / 4;
  }

  .site-nav--active > & {
    font-weight: bold;
  }

  .site-nav--mobile & {
    display: inline-block;
  }
}

/*================ Dropdowns ================*/
.site-nav__dropdown {
  display: none;
  position: absolute;
  left: 0;
  margin: 0;
  z-index: $zindexNavDropdowns;
  background:$colorHeaderBg;

  .supports-no-touch .site-nav--has-dropdown:hover &,
  .site-nav--has-dropdown.nav-hover &,
  .nav-focus + & {
    display: block;
  }

  a {
    //background-color: $colorNav;

    &:hover,
    &:active,
    &:focus {
      //background-color: darken($colorNav, 10%);
    }
  }
}

#CartCount {
  color:red;
}

/*================ Search bar in header ================*/
.nav-search {
  position: relative;
  padding: 10px 0;

  @include at-query ($max, $medium) {
    padding: 0 0 ($gutter / 2);
    margin: 0 auto;
    text-align: center;
  }
}

/*============================================================================
  #Mobile Nav
  - List of items inside the mobile drawer
==============================================================================*/
.mobile-nav {
  // Negative of .drawer left/right padding for full-width link tap area
  margin: (-$gutter / 2) (-$gutter / 2) 0 (-$gutter / 2);

  li {
    margin-bottom: 0;
  }
}

.mobile-nav__search {
  padding: $gutter / 2;

  .search-bar {
    margin-bottom: 0;
  }
}

.mobile-nav__item {
  position: relative;
  display: block;

  // Background color on top level items so there is no
  // element overlap on subnav's CSS toggle animation
  .mobile-nav > & {
    background-color: $colorDrawers;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: $gutter / 2;
    right: $gutter / 2;
    border-bottom: 1px solid $colorDrawerBorder;
  }

  .mobile-nav > &:last-child:after {
    display: none;
  }
}

// Login/logout links can't have a class on them, so style <a> element
.mobile-nav__item a {
  display: block;
}

.mobile-nav__item a,
.mobile-nav__toggle button {
  color: $colorDrawerText;
  padding: $gutter / 2;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: darken($colorDrawerText, 15%);
  }

  &:active,
  &:focus {
    background-color: darken($colorDrawers, 5%);
  }
}

.mobile-nav__item--active {
  font-weight: bold;
}

.mobile-nav__has-sublist {
  display: table;
  width: 100%;

  .mobile-nav__link {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

.mobile-nav__toggle {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}

.mobile-nav__toggle-open {
  .mobile-nav--expanded & {
    display: none;
  }
}

.mobile-nav__toggle-close {
  display: none;

  .mobile-nav--expanded & {
    display: block;
  }
}

.mobile-nav__sublist {
  margin: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  @include backface();

  .mobile-nav--expanded + & {
    visibility: visible;
    max-height: 700px;
    transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
  }

  .mobile-nav__item:after {
    top: 0;
    bottom: auto;
  }

  .mobile-nav__link {
    padding-left: $gutter;
    font-weight: normal;
  }
}

/*============================================================================
  #Site Footer
==============================================================================*/
.site-footer {
  background-color: $colorFooterBg;
  padding: $gutter/3 0;
  color: $colorFooterText;

  .social-icons{
    display: inline-block;
    margin:0;
    li{
      margin-right: $gutter/6;
    }
    a{
      padding: $gutter/3 0;
      display:inline-block;
    }
  }

  #contact_form{
    max-width:220px;
    padding:$gutter/2 0;
    margin-right:$gutter;
    display: inline-block;
    vertical-align: middle;
    input{
      font-weight: 900;
      letter-spacing: $tracking-l !important;
      text-transform: uppercase;
      vertical-align: middle;
      height:1.5em;
      line-height: 1.5;
      padding:0.25em;
      border-radius:0;
    }
    input[type="email"]{      
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $colorTextBody;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $colorTextBody;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $colorTextBody;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $colorTextBody;
      }
    }
    input[type="submit"]{
      padding-left:1.5em;
      background:transparent;
      vertical-align: middle;
      padding: 0;
      padding-left: 1.25em;
    }
  }
}

.site-footer-nav{
  > ul{
    list-style-type: none;
    margin:0;
    > li{
      display:inline-block;
    }
  }
  .site-nav__link{
    display: inline-block;
  }
}

@media (max-width:$medium) {
  .site-footer{
    padding:$gutter/2 0;
  }
  .site-footer .social-icons, 
  .site-footer #contact_form, 
  .site-footer-nav > ul > li{
    display: block;
  }

  .site-footer-nav > ul > li{
    padding:0;
    margin-bottom: 1em;
    a {
      padding:0;
    }
  }
}

/*============================================================================
  #Product and Collection Grids
==============================================================================*/
.grid-chaos{
  .supports-js &{
    position:relative;
    min-height:60vh;
    @include clearfix();
    .grid__item{
      //position:absolute;
      //visibility: hidden;
      opacity:0;
      padding:$gutter;
    }
  }
}

.grid__image {
  display: block;
  margin: 0 auto ($gutter / 2);

  img {
    display: block;
    margin: 0 auto;
  }

  &:active + .grid__item__title a{
    color:$colorLinkActive
  }
}

.grid__item__title{
  text-align: center;
  // hover
  .supports-no-touch &{
    visibility: hidden;
  }
  .supports-no-touch .grid__item:hover &{
    visibility: visible;
  }
}

/*============================================================================
  #Collection Filters
==============================================================================*/
.filter--active {
  font-weight: bold;
}

/*============================================================================
  #Breadcrumbs
==============================================================================*/
.breadcrumb {
  margin-bottom: $gutter;

  a,
  span {
    display: inline-block;
    padding: 0 7px 0 0;
    margin-right: 7px;

    &:first-child {
      padding-left: 0;
    }
  }
}


/*============================================================================
  #Product Page
==============================================================================*/
.product-single{
  h1 {
    font-size: 2em;
    letter-spacing: $tracking-s;
    margin-bottom: 1.2em;
    text-transform: uppercase;
  }
  .product-description {
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  .price-wrapper{
    margin-bottom: 3.5em;
    display: block;
  }
  //.selector-wrapper{
    //display: inline-block;
    //width:33%;
    //select{
      //width:100%;
      //padding-left:1em;
      //padding-right:1em;
    //}
  //}
  .quantity-wrapper{
    display: inline-block;
    width: 33%;
    //input{
      //width: 100%;
      //text-align: right;
    //}
  }
  label{
    text-transform: uppercase;
    line-height: 2.25;
  }
  #AddToCart{
    display: block;
    font-size: 1.1em;
    width: 100%;
    text-transform: uppercase;
  }
  .social-icons {
    display: inline-block;
    width:66%;
    margin-bottom: 0;
    text-align: right;
    li {
      margin-left:$gutter/3;
      a{
        color:$colorTextBody;
      }
    }
  }
}

.product-single__variants {
  display: none;

  .no-js & {
    display: block;
  }
}

.product-single__photos {
  margin-bottom: $gutter;
}

.product-single__photos,
.product-single__thumbnails {
  a, img {
    display: block;
    margin: 0 auto;
  }

  li {
    margin-bottom: $gutter;
  }
}

/*============================================================================
  #Notes and Form Feedback
==============================================================================*/
.note,
.errors {
  border-radius: $radius;
  padding: 6px 12px;
  margin-bottom: $gutter / 2;
  border: 1px solid transparent;
  font-size: 0.9em;
  text-align: left;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.note {
  border-color: $colorBorder;
}

.errors {
  ul {
    list-style: disc outside;
    margin-left: 20px;
  }
}

.form-success {
  color: $successGreen;
  background-color: $successGreenBg;
  border-color: $successGreen;

  a {
    color: $successGreen;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.form-error,
.errors {
  color: $errorRed;
  background-color: $errorRedBg;
  border-color: $errorRed;

  a {
    color: $errorRed;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

